.card-text {
  display: flex;
  justify-content: center;
}
#country {
  background-color: aqua;
  color: black;
  padding: 8px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

img {
  height: 200px;
}

.card {
  border: 1px solid black;
}
#weather3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#result{
    font-weight: bold;
}
